[[source]]
url = "https://mirrors.cernet.edu.cn/pypi/web/simple"
verify_ssl = true
name = "MirrorZ"

[packages]
fastapi = "*"
uvicorn = "*"
python-socketio = "*"

[dev-packages]

[requires]
python_version = "3.11"
